* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 60%;  /* Reduz a largura da imagem para 60% do container */
    max-width: 150px;  /* Limite máximo da largura */
    height: 400px;  /* Mantém a proporção */
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
